@use '../../../../scss/spaces' as spaces;

.login-card {
  min-width: 420px;
  gap: spaces.$space-5;
}

form{
  margin-top: spaces.$space-5;
}

.x-center-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-weight: 500;
    font-size: 0.875rem;
  }
}

.error-msg {
  color: #d32f2f;
  font-size: 0.75rem;
}

button{
  color: white !important;
}