@font-face {
  font-family: 'Epunda';
  src: url('../assets/font/Epunda_Sans/EpundaSans-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'PT';
  src: url('../assets/font/PT_Sans/PTSans-Regular.ttf');
  font-display: swap;
}


$font-1: "Epunda", sans-serif;
$font-2: "PT", sans-serif;