@font-face {
  font-family: 'PT';
  src: url('../assets/font/PT_Sans/PTSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Titillium';
  src: url('../assets/font/Titillium/TitilliumWeb-Regular.ttf');
  font-display: swap;
}


// Fonts
$font-1: "Titillium", sans-serif;
$font-2: "Titillium", sans-serif;

// Font Weight
$minimum-weight: 100;
$very-small-weight: 200;
$small-weight: 300;
$medium-weight: 400;
$big-weight: 600;
$very-big-weight: 800;
$maximum-weight: 1000;