$light: #ffffff;
$dark: #090909;
$dark-gray: #444;
$light-gray: #AAA;

:root[data-theme='light']{
    --bg-color: #{$light};
    --text-color: #{$dark};
    --neutral-primary: #{$light-gray};
    --neutral-second: #{$dark-gray};
}

:root[data-theme='dark']{
    --bg-color: #{$dark};
    --text-color: #{$light};
    --neutral-primary: #{$dark-gray};
    --neutral-second: #{$light-gray};
}

$color-1: #1A5276;
$color-2: #0075C4;
$color-3: #253031;
$color-4: #896279;
$color-5: #FF570A;
$color-dangerous-1: #e74c3c;
$color-dangerous-2: #8B0000;