$light: #ffffff;
$dark: #090909;
$dark-gray: #444;
$light-gray: #AAA;

:root[data-theme='light']{
    --bg-color: #{$light};
    --text-color: #{$dark};
    --neutral-primary: #{$light-gray};
    --neutral-second: #{$dark-gray};
}

:root[data-theme='dark']{
    --bg-color: #{$dark};
    --text-color: #{$light};
    --neutral-primary: #{$dark-gray};
    --neutral-second: #{$light-gray};
}

$color-1: #5DADE2 ;
$color-2: #3498DB ;
$color-3: #2874A6 ;
$color-4: #1A5276 ;
$color-5: #8B0000;
$color-6: #D35400;
$color-7: #45B39D;
$color-8: #FDEBD0;
$color-9: #F4D03F;
$color-10: #E67E22;