@use '../../../styles.scss' as *;
@use '../../../styles/fonts' as *;
@use '../../../styles/sizes' as *;
@use '../../../styles/theme' as *;

header{
    height: 76px;
    padding:0 $maximum;
    background-color: $color-4;
    display:flex;
    align-items:center;
}

.left{
    align-items:center;
    gap:$medium;
}

h1{
    padding:0;
    margin:0;
    font-size:$big-font;
    font-family: $font-1;
    font-weight: $big-weight;
}

.logo{
    font-size:$standard-font;
    font-family: $font-1;
    font-weight:$small-weight;
    border-radius:$maximum-radius;
    padding:$minimum $very-small;
    border: 2px solid white;
}

.content{
    padding: $very-big 0;
}

aside{
    flex:3;
    padding: 0;
}

main{
    flex:9;
}

.user-button{
    background-color: transparent;
    outline:0;
    border:1px solid white;
    font-size:$very-small;
    padding:$minimum $small;
    font-family: $font-1;
    font-weight: $small-weight;
    color: white;
    text-align:center;
    border-radius:$medium-radius;
    transition:0.4s;
}

.user-button:hover{
    background-color: $color-10;
    border-color: $color-10;
}