<header class="flex-sb flex-align-center full-width">
    <div class="left flex-sb flex-align-center">
        <span class="logo">ED</span>
        <h1>edoha</h1>
    </div>

    <div class="right flex-align-center">
        <button class="user-button flex-center">
            <span class="material-icons">person</span>
            Eduardo Zagato Junior
        </button>
    </div>
</header>

<section class="flex-sb full-width content">
    <aside>
    <app-side-navbar></app-side-navbar>
</aside>

<main><router-outlet></router-outlet></main>
</section>