<header class="flex-sb flex-align-center full-width">
    <div class="left flex-sb flex-align-center">
        <span class="logo">ED</span>
        <h1>edoha</h1>
    </div>

    <div class="right col-md-2 flex-sb flex-align-center">
        <a href="" class="header-menu-item reset-link flex-center">
            <div class="material-icons corrige">settings</div>
            Configurações
        </a>

        <a href="" class="header-menu-item reset-link flex-center">
            <div class="material-icons corrige">logout</div>
            Sair
        </a>
    </div>
</header>

<section class="flex-sb full-width content">
    <aside>
    <app-side-navbar></app-side-navbar>
</aside>

<main><router-outlet></router-outlet></main>
</section>