@use '../../../styles.scss' as *;
@use '../../../styles/theme' as *;

header{
    padding:10px 50px;
    background-color: $color-4;
}

h1{
    font-size:3em;
}

.content{
    padding: 40px 0;
}

aside{
    flex:3;
    padding: 0;
}

main{
    flex:9;
}