@use '../../../../../scss/colors' as *;

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 64px;
  padding: 0 16px;
  color: #ffffff;
  padding: 0px 80px;
  background-color: #000ACD;

  .menu-toggle {
    @media (min-width: 960px) {
      display: none;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 12px;

    .logo {
      height: 40px;
      width: auto;
    }

    .header-title {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .theme-toggle {
    margin-right: 8px;
  }

  .user-menu-trigger {
    .user-name {
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}
