@use 'scss/fonts' as *;
@use 'scss/theme' as theme;
@use 'scss/buttons' as buttons;
@use 'scss/flexbox' as *;
@use 'scss/forms' as *;
@use 'scss/boxes' as *;
@use 'scss/sizes' as *;

*{margin:0; padding:0; box-sizing:border-box;}
p, span{margin:0; padding:0;}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: $font-1 ;
}

.full-width{width:100%;}
h1{font-weight:$very-big-weight; font-size:$maximum-font;}
p{font-size:$small-font; font-weight:$medium-weight; font-family: $font-1; color: var(--neutral-second);}
