@use 'theme' as *;
@use 'fonts' as *;

.button{
    font-family: $font-2;
    font-size:18px;
    color: var(--neutral-second);
    font-weight:1000;
    transition: 0.4s;
    text-align:center;
    border-radius:20px;
    width:160px;
    height:40px;
    margin-top:20px;
    border:none;
}

.button:hover{
    background-color: $color-3;
}

.button-1{
    background-color:$color-1;
}

.button-2{
    background-color:$color-2;
}

.button-3{
    background-color:$color-3;
}

.button-4{
    background-color:$color-4;
}

.button-5{
    background-color:$color-5;
}

.button-6{
    background-color:$color-6;
}

.button-7{
    background-color:$color-7;
}

.button-8{
    background-color:$color-8;
}

.button-9{
    background-color:$color-9;
}

.button-10{
    background-color:$color-10;
}