$minimum: 5px;
$very-small: 10px;
$small: 15px;
$medium: 20px;
$big: 30px;
$very-big: 50px;
$maximum: 80px;

// Font-Sizes
$minimum-font: 0.8em;
$very-small-font: 0.9em;
$small-font: 1em;
$standard-font: 1.2em;
$medium-font: 1.4em;
$big-font: 1.6em;
$very-big-font: 2em;
$maximum-font: 3em;

// Border Radius
$small-radius: 10px;
$medium-radius:20px;
$big-radius: 30px;
$maximum-radius: 100px;