<h2 class="page-title">
      <i class="pi pi-wrench"></i>
      <span>Gerenfiar Rifa</span>
    </h2>

<p-accordion value="0">
  <p-accordion-panel value="0">
    <p-accordion-header>Retirados ({{ withdrawnTicketbooks().length }})</p-accordion-header>
    <p-accordion-content>
      <p class="m-0">
        @for (item of withdrawnTicketbooks(); track item.id) {
          <h2>{{ item.number }}</h2>
        }
      </p>
    </p-accordion-content>
  </p-accordion-panel>

   <p-accordion-panel value="1">
    <p-accordion-header>Devolvidos ({{ returnedTicketbooks().length }})</p-accordion-header>
    <p-accordion-content>
      <p class="m-0">
        @for (item of returnedTicketbooks(); track item.id) {
          <h2>{{ item.number }}</h2>
        }
      </p>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>